html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header,
main {
  width: 100%;
}
main {
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 100%;
}
footer.footer {
  background: #333;
  color: #fff;
  width: 100%;
  min-height: 100px;
  padding: 10px 0;
  margin-top: -100px;
}
a:hover {
  color: #49bee4;
}
cite {
  margin: 0 5px;
}
blockquote {
  font-size: 15px;
}
.content {
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
}
.fa {
  margin-right: 5px;
}
.pager {
  text-align: left;
}
.invisible {
  visibility: none;
}
.navbar-brand > h1 {
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 21px;
  height: 45px;
}
ul.no-style {
  list-style-type: none;
}
pre {
  color: inherit;
  background-color: inherit;
  border: 0;
  border-radius: 0;
  margin: 0;
}
.profile {
  min-height: 500px;
  border-radius: 2px;
  text-align: center;
}
.profile > .profile-photo {
  margin: 5px auto;
  max-width: 150px;
  width: 150px;
  height: 216px;
  -webkit-background-size: 150px 216px;
  -moz-background-size: 150px 216px;
  background-size: 150px 216px;
  background-image: url("/images/photo.jpg");
}
.profile > .profile-statistic {
  margin: 20px 0;
  text-align: center;
  border-top: 1px solid #eceff2;
  border-bottom: 1px solid #eceff2;
  min-height: 85px;
}
.profile > .profile-statistic > * {
  padding: 20px;
}
@media (max-width: 1200px) {
  .profile > .profile-statistic > div:not(:first-child) {
    border-top: 1px solid #eceff2;
  }
}
@media (min-width: 1200px) {
  .profile > .profile-statistic > div:not(:first-child) {
    border-left: 1px solid #eceff2;
  }
}
.profile > .profile-buttons {
  vertical-align: middle;
}
.profile > .profile-buttons i {
  font-size: 30px;
}
.profile > .profile-buttons i:hover {
  color: #00a1d6;
}
.sidebar > .sidebar-title {
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar > ul > li {
  line-height: 1;
  margin: 15px 0;
}
@media (max-width: 1200px) {
  .sidebar {
    margin: 20px 0;
  }
}
.shadow-2dp {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.shadow-3dp {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.12);
}
.shadow-4dp {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
.shadow-6dp {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
.shadow-8dp {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.shadow-16dp {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}
.shadow-24dp {
  -webkit-box-shadow: 0 9px 46px 8px rgba(0,0,0,0.14), 0 11px 15px -7px rgba(0,0,0,0.12), 0 24px 38px 3px rgba(0,0,0,0.2);
  box-shadow: 0 9px 46px 8px rgba(0,0,0,0.14), 0 11px 15px -7px rgba(0,0,0,0.12), 0 24px 38px 3px rgba(0,0,0,0.2);
}
.post-preview {
  margin-bottom: 20px;
}
.post-image {
  max-width: 100%;
}
.post-title {
  text-transform: uppercase;
  margin: 10px 0;
}
.post-title > a:hover {
  text-decoration: none;
}
.post-header {
  border-bottom: 1px solid #eceff2;
  font-size: 13px;
}
.post-header > * {
  margin-left: 10px;
}
.post-content {
  padding: 10px;
  margin: 5px 0;
  text-align: left;
}
.post-content img {
  max-width: 100%;
}
.post-tags {
  font-size: 10px;
  margin: 5px 0 5px 0;
  border-top: 1px solid #eceff2;
}
.post-footer {
  border-top: 1px solid #eceff2;
  margin: 5px 0;
  padding: 5px 0 0 0;
}
.post-share {
  padding: 0 10px;
  text-align: center;
}
.post-share > li {
  display: inline;
}
@font-face {
  font-family: 'socicon';
  src: url("../fonts/socicon.eot");
  src: url("../fonts/socicon.eot?#iefix") format('embedded-opentype'), url("../fonts/socicon-webfont.woff") format('woff'), url("../fonts/socicon-webfont.woff2") format('woff2'), url("../fonts/socicon-webfont.ttf") format('truetype'), url("../fonts/socicon-webfont.svg#sociconregular") format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
.socicon {
  font-family: 'socicon' !important;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 5px 10px;
  margin: 1px 1px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px;
}
.socicon:hover {
  color: #fff;
}
.socicon:focus {
  color: #fff;
}
.socicon-twitter {
  background: #4da7de !important;
}
.socicon-facebook {
  background: #3e5b98 !important;
}
.socicon-google {
  background: #d93e2d !important;
}
.socicon-vkontakte {
  background: #5a7fa6 !important;
}
.socicon-github {
  color: #fff !important;
  background: #000 !important;
}
.socicon-steam {
  color: #fff !important;
  background: #171a21 !important;
}
.socicon-microsoft {
  color: #fff !important;
  background: #00bdf6 !important;
}
.socicon-linkedin {
  color: #fff !important;
  background: #3371b7 !important;
}
.socicon-mail {
  color: #fff !important;
  background: #ffd600 !important;
}
.footer-column {
  min-height: 100px;
}
.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 0;
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 22.400000000000002px;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
.highlight {
  color: #333;
  background: #f8f8f8;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #998;
  font-style: italic;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .subst {
  color: #333;
  font-weight: bold;
}
.highlight .code .number,
.highlight .code .literal,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .tag .attr {
  color: #008080;
}
.highlight .code .string,
.highlight .code .doctag {
  color: #d14;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .selector-id {
  color: #900;
  font-weight: bold;
}
.highlight .code .subst {
  font-weight: normal;
}
.highlight .code .type,
.highlight .code .class .title {
  color: #458;
  font-weight: bold;
}
.highlight .code .tag,
.highlight .code .name,
.highlight .code .attribute {
  color: #000080;
  font-weight: normal;
}
.highlight .code .regexp,
.highlight .code .link {
  color: #009926;
}
.highlight .code .symbol,
.highlight .code .bullet {
  color: #990073;
}
.highlight .code .built_in,
.highlight .code .builtin-name {
  color: #0086b3;
}
.highlight .code .meta {
  color: #999;
  font-weight: bold;
}
.highlight .code .deletion {
  background: #fdd;
}
.highlight .code .addition {
  background: #dfd;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
